/todo.txt
*.swp
*.iml

/app/build
/app/release
.idea

/app/src/main/res/values/keys.xml
/app/src/main/res/xml/tracker.xml

# gradle/android studio stuff
.gradle
local.properties
build

# React Native
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
