<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sunlightlabs.android.congress"
      android:versionCode="47"
      android:versionName="4.1.3"
      >
      
    <uses-sdk 
    	android:minSdkVersion="8"
    	android:targetSdkVersion="16"
    	/>
      
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <supports-screens
    	android:smallScreens="true"
    	android:normalScreens="true"
    	android:largeScreens="true"
    	android:anyDensity="true"
    	/>
      
    <application android:icon="@drawable/icon" 
    	android:label="@string/app_name"
    	android:theme="@style/MainTheme"
    	android:hardwareAccelerated="true"
    	>
        <activity android:name=".MenuMain"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <meta-data android:name="android.app.default_searchable"
				android:value=".BillSearch"
				/>
        </activity>
        
        <activity android:name=".MenuBills">
            <meta-data android:name="android.app.default_searchable"
				android:value=".BillSearch"
				/>
        </activity>
        
        <activity android:name=".BillSearch">
            <intent-filter>
				<action android:name="android.intent.action.SEARCH" />
	        </intent-filter>
	        
	        <meta-data android:name="android.app.searchable"
				android:resource="@xml/searchable_bills"
				/>
	        <meta-data android:name="android.app.default_searchable"
				android:value=".BillSearch"
				/>
        </activity>
        
        <activity android:name=".MenuLegislators">
            <meta-data android:name="android.app.default_searchable"
				android:value=".LegislatorSearch"
				/>
        </activity>
        <activity android:name=".LegislatorLoader" />
        <activity android:name=".LegislatorPager" />
        <activity android:name=".LegislatorCosponsors" />
        
        <activity android:name=".LegislatorSearch">
            <intent-filter>
				<action android:name="android.intent.action.SEARCH" />
	        </intent-filter>
	        
            <meta-data android:name="android.app.searchable"
				android:resource="@xml/searchable_legislators"
				/>
            <meta-data android:name="android.app.default_searchable"
				android:value=".LegislatorSearch"
				/>
        </activity>
        
        <activity android:name=".BillPager">
            <intent-filter>
        	    <action android:name="android.intent.action.VIEW" />
        	    <category android:name="android.intent.category.DEFAULT" />
        	    <data android:scheme="congress" 
        	        android:host="com.sunlightlabs.android.congress"
        	        android:pathPrefix="/bill" 
        	        />
        	</intent-filter>
        </activity>
        
        <activity android:name=".BillSponsor" />
        
        <activity android:name=".MenuVotes" />
        
        <activity android:name=".VoteVoter">
            <meta-data android:name="android.app.default_searchable"
				android:value=".VoteSearch"
				/>
        </activity>
        
        <activity android:name=".RollInfo">
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
        		<category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        	<intent-filter>
        	    <action android:name="android.intent.action.VIEW" />
        	    <category android:name="android.intent.category.DEFAULT" />
        	    <data android:scheme="congress" 
        	        android:host="com.sunlightlabs.android.congress"
        	        android:pathPrefix="/roll" 
        	        />
        	</intent-filter>
        </activity>
        
        <activity android:name=".CommitteeListPager" />
        <activity android:name=".CommitteeMember" />
        <activity android:name=".CommitteePager" />
        
        <activity android:name=".FloorUpdatePager" />
        <activity android:name=".HearingPager" />
        	
        <activity android:name=".NotificationTabs" />
        <activity android:name=".NotificationSettings" />
        <activity android:name=".NotificationSubscriptions" />
        	
        <activity android:name=".Settings" />
        
        <provider android:name=".providers.SuggestionsProvider"
              android:authorities="com.sunlightlabs.android.congress.providers.SuggestionsProvider" 
              />
        
        <receiver android:name=".notifications.OnBootReceiver">
        	<intent-filter>
        		<action android:name="android.intent.action.BOOT_COMPLETED" />
        	</intent-filter>
        </receiver>
        	
        <receiver android:name=".notifications.OnAlarmReceiver" />
        
        <receiver android:name=".notifications.OnServiceActionReceiver">
        	<intent-filter>
        		<action android:name="com.sunlightlabs.android.congress.intent.action.START_NOTIFICATION_SERVICE" />
        		<action android:name="com.sunlightlabs.android.congress.intent.action.STOP_NOTIFICATION_SERVICE" />
        	</intent-filter>
        </receiver>
		
		<service android:name=".notifications.NotificationService" />
		
		<!-- Used for install referrer tracking -->
		<receiver android:name="com.google.android.apps.analytics.AnalyticsReceiver" android:exported="true">
		  <intent-filter>
		    <action android:name="com.android.vending.INSTALL_REFERRER" />
		  </intent-filter>
		</receiver>
    </application>
</manifest>
