<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sunlightlabs.android.congress"
      android:versionCode="5"
      android:versionName="1.5.1">
      
    <application android:icon="@drawable/icon" 
    	android:label="@string/app_name"
    	android:debuggable="true"
    	>
        <activity android:name=".MainMenu"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".CreateShortcut"
        	android:label="@string/create_shortcuts"
        	android:theme="@android:style/Theme.Dialog"
        	>
        	
        	<intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        	
        </activity>
        
        <activity android:name=".LegislatorList" />
        <activity android:name=".LegislatorLoader">
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
        		<category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity>
        
        <activity android:name=".LegislatorTabs" />
        
        <activity android:name=".LegislatorProfile" />
        <activity android:name=".LegislatorNews" />
        <activity android:name=".LegislatorTwitter" />
        <activity android:name=".LegislatorYouTube" />
        
        <activity android:name=".Preferences" />
        <activity android:name=".TwitterReply" 
        	android:theme="@android:style/Theme.Dialog" 
        	/>
        
        <activity android:name=".GetText"
        	android:theme="@android:style/Theme.Dialog" 
        	/>
        <activity android:name=".GetState"
        	android:theme="@android:style/Theme.Dialog" 
        	/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk 
    	android:minSdkVersion="3"
    	android:targetSdkVersion="4"
    	/>
    <supports-screens
    	android:smallScreens="true"
    	android:normalScreens="true"
    	android:largeScreens="true"
    	android:anyDensity="true"
    	/>
</manifest> 