<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sunlightlabs.android.congress"
      android:versionCode="30"
      android:versionName="3.2.1"
      >
      
    <application android:icon="@drawable/icon" 
    	android:label="@string/app_name"
    	android:debuggable="true"
    	>
        <activity android:name=".MenuMain"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".MenuBills"
        	android:theme="@android:style/Theme.NoTitleBar"
        	/>
        
        <activity android:name=".MenuLegislators"
        	android:theme="@android:style/Theme.NoTitleBar"
        	/>
        
        <activity android:name=".GetText"
        	android:theme="@android:style/Theme.Dialog" 
        	/>
        <activity android:name=".GetState"
        	android:theme="@android:style/Theme.Dialog" 
        	/>
        	
        <activity android:name=".NewsList" />
        
        <activity android:name=".LegislatorList"
        	android:theme="@android:style/Theme.NoTitleBar" 
        	/>
        	
        <activity android:name=".LegislatorLoader"
        	android:theme="@android:style/Theme.NoTitleBar"
        	>
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
        		<category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity>
        
        <activity android:name=".LegislatorTabs" 
        	android:theme="@android:style/Theme.NoTitleBar"
        	/>
        
        <activity android:name=".LegislatorProfile" />
        <activity android:name=".LegislatorTwitter" />
        <activity android:name=".LegislatorYouTube" />
        
        <activity android:name=".BillList" 
        	android:theme="@android:style/Theme.NoTitleBar"
        	/>
        	
        <activity android:name=".BillLoader"
        	android:theme="@android:style/Theme.NoTitleBar"
        	>
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
        		<category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity>
        
        <activity android:name=".BillTabs" 
        	android:theme="@android:style/Theme.NoTitleBar"
        	/>
        	
        <activity android:name=".BillInfo" />
        <activity android:name=".BillHistory" />
        <activity android:name=".BillVotes" />
        
        <activity android:name=".RollList"
        	android:theme="@android:style/Theme.NoTitleBar"
        	/>
        
        <activity android:name=".RollInfo" 
        	android:theme="@android:style/Theme.NoTitleBar"
        	>
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
        		<category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity>
        
        <activity android:name=".CommitteeTabs" />
        <activity android:name=".CommitteeList" />
        
        <activity android:name=".FloorUpdateTabs" />
        <activity android:name=".FloorUpdateList" />
        	
        <activity android:name=".HearingList" 
        	android:theme="@android:style/Theme.NoTitleBar"
        	/>
        	
        <activity android:name=".NotificationTabs" 
        	android:theme="@android:style/Theme.NoTitleBar" 
        	/>
        <activity android:name=".NotificationSettings" />
        <activity android:name=".NotificationSubscriptions" />
        	
        <activity android:name=".Settings" 
        	android:theme="@android:style/Theme.NoTitleBar" 
        	/>
        
        <receiver android:name=".notifications.OnBootReceiver">
        	<intent-filter>
        		<action android:name="android.intent.action.BOOT_COMPLETED" />
        	</intent-filter>
        </receiver>
        	
        <receiver android:name=".notifications.OnAlarmReceiver" />
        
        <receiver android:name=".notifications.OnServiceActionReceiver">
        	<intent-filter>
        		<action android:name="com.sunlightlabs.android.congress.intent.action.START_NOTIFICATION_SERVICE" />
        		<action android:name="com.sunlightlabs.android.congress.intent.action.STOP_NOTIFICATION_SERVICE" />
        	</intent-filter>
        </receiver>
		
		<service android:name=".notifications.NotificationService" />
		
		<!-- Used for install referrer tracking -->
		<receiver android:name="com.google.android.apps.analytics.AnalyticsReceiver" android:exported="true">
		  <intent-filter>
		    <action android:name="com.android.vending.INSTALL_REFERRER" />
		  </intent-filter>
		</receiver>
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <uses-sdk 
    	android:minSdkVersion="4"
    	android:targetSdkVersion="4"
    	/>
    	
    <supports-screens
    	android:smallScreens="true"
    	android:normalScreens="true"
    	android:largeScreens="true"
    	android:anyDensity="true"
    	/>
</manifest>